<dl>
  <% if @cookies_array%>
    <% @cookies_array.each do |content_hash|%>
    <dt><%= content_hash["role"]%></dt>
    <dd><%= content_hash["content"]%></dd>
    <% end %>
  <% end %>
</dl>

<form action="/add_message_to_chat" method="post">
  <label for="new_message_input">You:</label>
  <input type="text" name="user_message" id="new_message_input" placeholder="Enter a message....">
  <button>Send</button>
</form>
<hr>
<form action="/clear_chat" method="post">
  <button>Clear chat history</button>
</form>
