<h1>GPT single message</h1>

<form action="/process_single_message" method="post">
  <label for="message_input">Your message:</label>
  <input type="text" name="message" id="message_input">
  <button>Send!</button>
</form>
